body {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;

    width: 100%;
    height: 100%;

    background-color: #000000;
}

#RWWM {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
    z-index: 0;

    background-image: url("pics/background.jpg");
    background-size: cover;

    font-family: 'Ubuntu', sans-serif;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    :focus {
        outline: none;
    }

    .launcher {
        position: absolute;
        top: 0;
        left: 0;

        width: 52px;
        height: 100%;
        z-index: 999999;

        background: rgba(65, 65, 65, 0.5);

        border-right: 1px solid #000000;

        > div {
            margin-top: 4px;
            margin-left: 4px;
            padding: 1px;

            width: 40px;
            height: 40px;

            background: radial-gradient(circle at top center, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 50%);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 4px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 4px;
            }

            .dots {
                position: absolute;
                left: 0;

                width: 3px;

                p:before{
                    content: '';
                    display: block;
                    margin-top: 6px;

                    width: 0;
                    height: 0;

                    border-top: 3px solid transparent;
                    border-left: 3px solid #fff;
                    border-bottom: 3px solid transparent;
                }

                p {
                    margin: 0;
                    padding: 0;
                    width: 0;
                    height: 0;
                }
            }

            .dots.one {
                margin-top: -33px;

                height: 3px;
            }

            .dots.two {
                margin-top: -36px;

                height: 6px;
            }

            .dots.three {
                margin-top: -39px;

                height: 9px;
            }

            .tooltip {
                display: none;
                position: relative;
                bottom: 44px;

                width: 250px;
                z-index: -1;

                text-align: left;

                ul {
                    position: relative;
                    top: 2px;
                    left: 62px;
                    margin: 0;
                    padding: 5px;

                    width: 205px;

                    color: #ffffff;
                    background-color: rgba(0, 0, 0, 0.7);
                    border: 1px solid #333;
                    border-radius: 5px;

                    font-weight: bold;
                    list-style: none;

                    li {
                        margin: 1px 4px;
                        padding: 2px 4px;

                        border-radius: 5px;
                        cursor: pointer;
                        overflow: hidden;
                    }

                    li:first-child:after {
                        content: '+';
                        position: absolute;
                        top: 7px;
                        right: 15px;

                        -webkit-transform: scale(1.5);
                        transform: scale(1.5);
                    }

                    li:hover {
                        background-color: rgba(255, 255, 255, 0.2);
                    }

                    hr {
                        margin: 4px;
                        height: 1px;

                        background: linear-gradient(to right, transparent 0%, #777 10%, #777 90%, transparent 100%);
                        border: none;
                    }
                }

                ul:before{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 8px;
                    left: -8px;

                    width: 0;
                    height: 0;

                    border-top: 8px solid transparent;
                    border-right:8px solid #333;
                    border-bottom: 8px solid transparent;
                }
            }
        }

        > div:hover {
            background: radial-gradient(circle at top center, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 70%);

            .tooltip {
                display: block;
            }
        }
    }

    .window {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;

        background: #3c3b37;
        border: 1px solid #21201c;
        border-radius: 5px 5px 0 0;

        transition: background-color 0.5s, border-color 0.5s;

        .decorator {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 30px;
            
            background: linear-gradient(to bottom, #4c4b46 0%, #3d3c38 100%);
            border-top: 1px solid #cdccb6;
            border-radius: 5px 5px 0 0;

            button {
                -moz-box-sizing: border-box;
                box-sizing: border-box;

                position: absolute;
                top: 5px;
                left: 5px;

                padding: 0;

                width: 20px;
                height: 20px;

                color: #000;
                background: linear-gradient(to bottom, #86857f 0%, #55544f 100%);
                border: 1px solid #21201c;
                border-radius: 20px;
            }

            button:hover {
                background: linear-gradient(to bottom, #d7d6d0 0%, #9b9a90 50%);
            }

            .close:before {
                content: '\2715';
            }

            .close {
                background: linear-gradient(to bottom, #f78b6a 0%, #df4d1a 50%);
            }

            .close:hover {
                background: linear-gradient(to bottom, #ff9469 0%, #f78b6a 50%);
            }

            .minimize:before {
                content: '\2012';
                position: relative;
                bottom: 1px;
            }

            .minimize {
                left: 27px;
            }

            .maximize:before {
                content: '\25FB';
                position: relative;
                bottom: 1px;
            }

            .maximize {
                left: 49px;

                line-height: 5px;
                vertical-align: top;
            }

            span {
                position: absolute;
                top: 5px;
                left: 52px;

                max-width: calc(100% - 77px);
                overflow: hidden;

                color: #ffffff;
                cursor: default;
                text-shadow: #000000 -1px -1px 1px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            span.threeButtons {
                left: 74px;

                max-width: calc(100% - 99px);
            }

            img {
                position: absolute;
                top: 5px;
                right: 5px;

                width: 20px;
                height: 20px;
            }
        }

        .menubar {
            position: absolute;
            top: 30px;
            left: 2px;

            margin: 0;
            padding-left: 5px;
            padding-bottom: 1px;

            width: 100%;
            height: 20px;

            color: #ffffff;
            list-style: none;

            > li {
                float: left;
                position: relative;
                padding: 0 2px;

                border: 1px solid transparent;
                border-bottom: 0;

                cursor: pointer;

                ul {
                    display: none;
                    position: absolute;
                    left: -1px;

                    margin: 0;
                    padding: 0;

                    z-index: 1000;

                    background: #3c3b37;
                    border: 1px solid #2f2e2b;

                    list-style: none;
                    white-space: pre;

                    li {
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;

                        padding: 0;

                        height: 26px;

                        cursor: pointer;

                        a {
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;

                            width: 100%;
                            height: 100%;

                            padding: 3px 5px;

                            overflow: hidden;
                        }

                        ul {
                            display: none;
                            position: absolute;
                            left: 100%;
                            margin-top: -30px;
                        }
                    }

                    li + li {
                        margin-top: 3px;
                    }

                    li:hover {
                        background-color: rgba(221, 70, 20, 0.3);

                        > ul {
                            display: block;
                        }
                    }

                    .option + ul {
                        li {
                            padding-left: 16px;
                        }

                        .selected a:before {
                            content: '\2B24'; //Big circle
                            position: absolute;
                            left: 5px;

                            font-size: 0.7em;
                        }
                    }

                    .sub, .option {
                        padding-right: 15px;
                    }

                    .sub:after, .option:after {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        right: 5px;
                        margin-top: 5px;

                        width: 0;
                        height: 0;

                        z-index: 2000;

                        border-top: 5px solid transparent;
                        border-left: 5px solid #ffffff;
                        border-bottom: 5px solid transparent;
                    }
                }

                a {
                    display: inline-block;
                }
            }

            > li:hover {
                background-color: rgba(221, 70, 20, 0.3);
                border: 1px solid #000000;
                border-radius: 5px 5px 0 0;

                > ul {
                    display: block;
                }
            }
        }

        .view {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            top: 51px;
            left: 2px;

            padding: 1px;

            width: calc(100% - 4px);
            height: calc(100% - 71px);

            overflow: auto;

            background: #dedddc;
            border-radius: 2px;
        }

        .statusbar {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            left: 0;
            bottom: 0;

            margin: 0;
            padding-left: 5px;
            padding-bottom: 1px;

            width: 100%;
            height: 20px;

            overflow: hidden;

            color: #ffffff;
            cursor: default;
            text-shadow: #000000 -1px -1px 1px;
            text-overflow: ellipsis;
            white-space: nowrap;

            img {
                margin-bottom: -3px;
            }
        }

        .decorator, .menubar, .view, .statusbar, .handle {
            transition: opacity 0.5s;
        }
    }

    .window.maximized {
        top: 0 !important;
        left: 52px !important;

        width: calc(100% - 52px) !important;
        height: 100% !important;

        border: none;
        border-radius: 0;

        .decorator {
            border: none;
            border-radius: 0;
        }
    }

    .window.resizeable .handle {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: -2px;

        width: 0;
        height: 0;

        z-index: 2000;

        border-top: 5px solid transparent;
        border-left: 5px solid #ffffff;
        border-bottom: 5px solid transparent;

        cursor: se-resize;

        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .window.fade:not(.show) {
        background-color: transparent;
        border-color: #ffffff;

        .decorator, .menubar, .view, .statusbar, .handle {
            opacity: 0.1;
        }
    }

    .animate {
        transition: top 0.1s ease-in-out, left 0.1s ease-in-out, width 0.1s ease-in-out, height 0.1s ease-in-out;
    }
}