body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #000000; }

#RWWM {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("pics/background.jpg");
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #RWWM :focus {
    outline: none; }
  #RWWM .launcher {
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    height: 100%;
    background: rgba(65, 65, 65, 0.5);
    border-right: 1px solid #000000; }
    #RWWM .launcher div {
      margin-top: 4px;
      margin-left: 4px;
      padding: 1px;
      width: 40px;
      height: 40px;
      background: radial-gradient(circle at top center, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 50%);
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px; }
      #RWWM .launcher div img {
        width: 40px;
        height: 40px;
        border-radius: 4px; }
    #RWWM .launcher div:hover {
      background: radial-gradient(circle at top center, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 70%); }
  #RWWM .window {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    background: #3c3b37;
    border: 1px solid #21201c;
    border-radius: 5px 5px 0 0; }
    #RWWM .window .decorator {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30px;
      background: linear-gradient(to bottom, #4c4b46 0%, #3d3c38 100%);
      border-top: 1px solid #cdccb6;
      border-radius: 5px 5px 0 0; }
      #RWWM .window .decorator button {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        top: 5px;
        left: 5px;
        padding: 0;
        width: 20px;
        height: 20px;
        color: #000;
        border: 1px solid #21201c;
        border-radius: 20px; }
      #RWWM .window .decorator .close:before {
        content: '\2715'; }
      #RWWM .window .decorator .close {
        background: linear-gradient(to bottom, #f78b6a 0%, #df4d1a 50%); }
      #RWWM .window .decorator .close:hover {
        background: linear-gradient(to bottom, #ff9469 0%, #f78b6a 50%); }
      #RWWM .window .decorator .maximize:before {
        content: '\25FB';
        position: relative;
        bottom: 1px; }
      #RWWM .window .decorator .maximize {
        left: 27px;
        background: linear-gradient(to bottom, #86857f 0%, #55544f 100%);
        line-height: 5px;
        vertical-align: top; }
      #RWWM .window .decorator .maximize:hover {
        background: linear-gradient(to bottom, #d7d6d0 0%, #9b9a90 50%); }
      #RWWM .window .decorator span {
        position: absolute;
        top: 5px;
        left: 30px;
        max-width: calc(100% - 55px);
        overflow: hidden;
        color: #ffffff;
        cursor: default;
        text-shadow: #000000 -1px -1px 1px;
        text-overflow: ellipsis;
        white-space: nowrap; }
      #RWWM .window .decorator span.twoButtons {
        left: 52px;
        max-width: calc(100% - 77px); }
      #RWWM .window .decorator img {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 20px;
        height: 20px; }
    #RWWM .window .menubar {
      position: absolute;
      top: 30px;
      left: 2px;
      margin: 0;
      padding-left: 5px;
      padding-bottom: 1px;
      width: 100%;
      height: 20px;
      color: #ffffff;
      list-style: none; }
      #RWWM .window .menubar > li {
        float: left;
        position: relative;
        padding: 0 2px;
        border: 1px solid transparent;
        border-bottom: 0;
        cursor: pointer; }
        #RWWM .window .menubar > li ul {
          display: none;
          position: absolute;
          left: -1px;
          margin: 0;
          padding: 0;
          z-index: 1000;
          background: #3c3b37;
          border: 1px solid #2f2e2b;
          list-style: none;
          white-space: pre; }
          #RWWM .window .menubar > li ul li {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0;
            height: 26px;
            cursor: pointer; }
            #RWWM .window .menubar > li ul li a {
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              width: 100%;
              height: 100%;
              padding: 3px 5px;
              overflow: hidden; }
            #RWWM .window .menubar > li ul li ul {
              display: none;
              position: absolute;
              left: 100%;
              margin-top: -30px; }
          #RWWM .window .menubar > li ul li + li {
            margin-top: 3px; }
          #RWWM .window .menubar > li ul li:hover {
            background-color: rgba(221, 70, 20, 0.3); }
            #RWWM .window .menubar > li ul li:hover > ul {
              display: block; }
          #RWWM .window .menubar > li ul .option + ul li {
            padding-left: 16px; }
          #RWWM .window .menubar > li ul .option + ul .selected a:before {
            content: '\2B24';
            position: absolute;
            left: 5px;
            font-size: 0.7em; }
          #RWWM .window .menubar > li ul .sub, #RWWM .window .menubar > li ul .option {
            padding-right: 15px; }
          #RWWM .window .menubar > li ul .sub:after, #RWWM .window .menubar > li ul .option:after {
            content: '';
            display: inline-block;
            position: absolute;
            right: 5px;
            margin-top: 5px;
            width: 0;
            height: 0;
            z-index: 2000;
            border-top: 5px solid transparent;
            border-left: 5px solid #ffffff;
            border-bottom: 5px solid transparent; }
        #RWWM .window .menubar > li a {
          display: inline-block; }
      #RWWM .window .menubar > li:hover {
        background-color: rgba(221, 70, 20, 0.3);
        border: 1px solid #000000;
        border-radius: 5px 5px 0 0; }
        #RWWM .window .menubar > li:hover > ul {
          display: block; }
    #RWWM .window .view {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      top: 51px;
      left: 2px;
      padding: 1px;
      width: calc(100% - 4px);
      height: calc(100% - 71px);
      overflow: auto;
      background: #dedddc;
      border-radius: 2px; }
    #RWWM .window .statusbar {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0;
      padding-left: 5px;
      padding-bottom: 1px;
      width: 100%;
      height: 20px;
      overflow: hidden;
      color: #ffffff;
      cursor: default;
      text-shadow: #000000 -1px -1px 1px;
      text-overflow: ellipsis;
      white-space: nowrap; }
      #RWWM .window .statusbar img {
        margin-bottom: -3px; }
  #RWWM .window.maximized {
    top: 0 !important;
    left: 52px !important;
    width: calc(100% - 52px) !important;
    height: 100% !important;
    border: none;
    border-radius: 0; }
    #RWWM .window.maximized .decorator {
      border: none;
      border-radius: 0; }
  #RWWM .window.resizeable .handle {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: -2px;
    width: 0;
    height: 0;
    z-index: 2000;
    border-top: 5px solid transparent;
    border-left: 5px solid #ffffff;
    border-bottom: 5px solid transparent;
    cursor: se-resize;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  #RWWM .animate {
    transition: top 0.1s ease-in-out, left 0.1s ease-in-out, width 0.1s ease-in-out, height 0.1s ease-in-out; }
