#RWWM {
    position: fixed;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    background-image: url("pics/background.jpg");
    background-size: cover;

    font-family: 'Ubuntu', sans-serif;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .launcher {
        position: fixed;
        top: 0;
        left: 0;

        width: 52px;
        height: 100%;

        background: rgba(65, 65, 65, 0.5);

        border-right: 1px solid #000000;

        div {
            margin-top: 4px;
            margin-left: 4px;
            padding: 1px;

            width: 40px;
            height: 40px;

            background: radial-gradient(circle at top center, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 50%);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 4px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 4px;
            }
        }

        div:hover {
            background: radial-gradient(circle at top center, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 70%);
        }
    }

    .window {
        position: fixed;

        background: #3c3b37;
        border: 1px solid #21201c;
        border-radius: 5px 5px 0 0;

        .decorator {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 30px;
            
            background: linear-gradient(to bottom, #4c4b46 0%, #3d3c38 100%);
            border-top: 1px solid #cdccb6;
            border-radius: 5px 5px 0 0;

            button {
                -moz-box-sizing: border-box;
                box-sizing: border-box;

                position: absolute;
                top: 5px;
                left: 5px;

                padding: 0;

                width: 20px;
                height: 20px;

                background: linear-gradient(to bottom, #f78b6a 0%, #df4d1a 50%);
                border: 1px solid #21201c;
                border-radius: 20px;
            }

            button:hover {
                background: linear-gradient(to bottom, #ff9469 0%, #f78b6a 50%);
            }

            span {
                position: absolute;
                top: 5px;
                left: 30px;

                max-width: calc(100% - 55px);
                overflow: hidden;

                color: #ffffff;
                text-shadow: #000000 -1px -1px 1px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            img {
                position: absolute;
                top: 5px;
                right: 5px;

                width: 20px;
                height: 20px;
            }
        }

        .menubar {
            position: absolute;
            top: 30px;
            left: 2px;

            margin: 0;
            padding-left: 5px;
            padding-bottom: 1px;

            width: 100%;
            height: 20px;

            color: #ffffff;
            list-style: none;

            > li {
                float: left;
                position: relative;
                padding: 0 2px;

                border: 1px solid transparent;
                border-bottom: 0;

                cursor: pointer;

                ul {
                    display: none;
                    position: absolute;
                    left: -1px;

                    margin: 0;
                    padding: 0;

                    z-index: 1000;

                    background: #3c3b37;
                    border: 1px solid #2f2e2b;

                    list-style: none;
                    white-space: pre;

                    li {
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;

                        padding: 0;

                        height: 26px;

                        cursor: pointer;

                        a {
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;

                            width: 100%;
                            height: 100%;

                            padding: 3px 5px;

                            overflow: hidden;
                        }

                        ul {
                            display: none;
                            position: absolute;
                            left: 100%;
                            margin-top: -24px;
                        }
                    }

                    li + li {
                        margin-top: 3px;
                    }

                    li:hover {
                        background-color: rgba(221, 70, 20, 0.3);

                        > ul {
                            display: block;
                        }
                    }

                    .option + ul {
                        li {
                            padding-left: 16px;
                        }

                        .selected a:before {
                            content: '\2B24'; //Big circle
                            position: absolute;
                            left: 5px;

                            font-size: 0.7em;
                        }
                    }

                    .sub, .option {
                        padding-right: 15px;
                    }

                    .sub:after, .option:after {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        bottom: 7.5px;
                        right: 5px;

                        width: 0;
                        height: 0;

                        z-index: 2000;

                        border-top: 5px solid transparent;
                        border-left: 5px solid #ffffff;
                        border-bottom: 5px solid transparent;
                    }
                }

                a {
                    display: inline-block;
                }
            }

            > li:hover {
                background-color: rgba(221, 70, 20, 0.3);
                border: 1px solid #000000;
                border-radius: 5px 5px 0 0;

                > ul {
                    display: block;
                }
            }
        }

        .view {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            top: 51px;
            left: 2px;

            padding: 1px;

            width: calc(100% - 4px);
            height: calc(100% - 71px);

            overflow: auto;

            background: #dedddc;
            border-radius: 2px;
        }

        .statusbar {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            left: 0;
            bottom: 0;

            margin: 0;
            padding-left: 5px;
            padding-bottom: 1px;

            width: 100%;
            height: 20px;

            overflow: hidden;

            color: #ffffff;
            text-shadow: #000000 -1px -1px 1px;
            text-overflow: ellipsis;
            white-space: nowrap;

            img {
                margin-bottom: -3px;
            }
        }
    }
}