.memory {
    table, h1 {
        width: 160px;
        text-align: center;
    }

    table {
        td {
            a {
                img:last-child {
                    display: none;
                }
            }
            a.flip, a.flipPerm {
                img:first-child {
                    display: none;
                }
                img:last-child {
                    display: block;
                }
            }
        }
    }
}