#RWWM .window.memory {
    table {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    table {
        td {
            a {
                display: inline-block;
                width: 48px;
                height: 48px;

                img:last-child {
                    display: none;
                }
            }
            a.flip, a.flipPerm {
                img:first-child {
                    display: none;
                }
                img:last-child {
                    display: block;
                }
            }
        }
    }
}
