#RWWM {
    .window.picture .view {
        background-color: #000000;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .window.pictures .view {
        padding-bottom: 10px;

        button {
            margin-top: 10px;
            margin-left: 15px;

            padding: 8px;

            background: #94a893;
            border: 1px solid transparent;
            border-radius: 8px;
        }

        button:hover {
            border: 1px solid #687b67;
        }
    }
}