.messageboard {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: lightblue; }
  .messageboard .container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    padding: 10px;
    width: 440px;
    height: 440px;
    background-color: #ffffff; }
    .messageboard .container .messages {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 440px;
      height: 310px;
      overflow: auto; }
      .messageboard .container .messages .message {
        margin: 10px;
        padding: 10px;
        width: 400px;
        background-color: lightblue; }
        .messageboard .container .messages .message p {
          margin: 0; }
        .messageboard .container .messages .message .close {
          display: block;
          margin-top: -10px;
          margin-left: -5px;
          height: 10px;
          color: red;
          cursor: pointer; }
        .messageboard .container .messages .message .date {
          margin-top: -5px;
          margin-right: -5px;
          color: gray;
          text-align: right; }
    .messageboard .container .counter {
      position: absolute;
      left: 10px;
      bottom: 120px; }
    .messageboard .container .write {
      position: absolute;
      left: 10px;
      bottom: 10px;
      height: 110px; }
      .messageboard .container .write textarea {
        width: 435px;
        height: 80px; }
