.messageboard {
    position: relative;

    width: 500px;
    height: 500px;

    background-color: lightblue;

    .container {
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px;
        padding: 10px;

        width: 440px;
        height: 440px;

        background-color: #ffffff;

        .messages {
            position: absolute;
            top: 10px;
            left: 10px;

            width: 440px;
            height: 310px;

            overflow: auto;

            .message {
                margin: 10px;
                padding: 10px;
                width: 400px;

                background-color: lightblue;

                p {
                    margin: 0;
                }

                .date {
                    margin-top: -5px;
                    margin-right: -5px;

                    color: gray;
                    text-align: right;
                }
            }
        }

        .counter {
            position: absolute;
            left: 10px;
            bottom: 120px;
        }

        .write {
            position: absolute;
            left: 10px;
            bottom: 10px;

            height: 110px;

            textarea {
                width: 435px;
                height: 80px;
            }
        }
    }
}