.window.mezzage .view {

    .messages {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 5px;

        height: calc(100% - 100px);

        overflow: auto;

        background-color: #cdcccb;
        border: 1px solid #91908f;
        border-radius: 2px;

        .message {
            position: relative;
            margin: 10px;
            padding: 10px;

            background-color: darkgray;
            border: 1px solid #91908f;
            border-radius: 2px;

            .writer {
                position: relative;
                right: 5px;
                bottom: 8px;

                color: #333;
            }

            p {
                margin: 0;
                margin-top: -8px;
                margin-bottom: 15px;

                width: 100%;

                white-space: pre-wrap;
                word-wrap: break-word;
            }

            .date {
                position: absolute;
                right: 5px;
                bottom: 5px;

                color: #333;
                text-align: right;

                cursor: pointer;
            }

            .date:hover {
                text-decoration: underline;
            }
        }
    }

    .write {
        position: absolute;
        left: 5px;
        bottom: 5px;

        width: calc(100% - 5px);
        height: 80px;

        textarea {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 5px;

            width: calc(100% - 60px);
            height: 80px;

            background-color: #cdcccb;
            border: 1px solid #91908f;
            border-radius: 2px;

            resize: none;
        }

        button {
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            position: absolute;
            right: 5px;
            margin: 0;

            width: 50px;
            height: 80px;
        }
    }
}